.slider-container {
    width: 100vw;
    overflow: hidden;
    background-color: #e33636;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 2;
    font-family: 'AzoSansWebLight', Fallback, sans-serif;
    
  }
  
  .slider {
    display: flex;
    animation: slider-animation 10s infinite linear;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
    flex: 0 0 100vw;
    
  }
  
  @keyframes slider-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); 
    }
  }

  @keyframes fade-down-animation {
    0% {
      
      transform: translateY(100%);
    }
    50% {
    
      transform: translateY(0);
    }
    100% {
      
        transform: translateY(0);
    }
  }
  
  @keyframes fade-up-animation {
    0% {
      
      transform: translateY(-100%);
    }
    50% {
      
      transform: translateY(0);
    }
    100% {
      
        transform: translateY(0);
    }
  }

.up{
    animation: fade-up-animation 1s normal;
}

.down{
    animation: fade-down-animation 1s normal;
}